<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sig{
      margin-left: 490px;
      margin-top: 10px;
      /* border: 4px solid black; */
     margin-right: 470px;
     padding-left: 90px;
     height: 50em;
     padding-top: 40px;
     padding-bottom: 50px;
     background-color: rgb(233, 203, 203);
}
body{
    background-color: aqua;
}
#ho{

text-decoration: none;
border: 2px solid black;
color: rgb(189, 86, 86);
margin-left: 10px;
padding-left: 5px;
padding-right: 5px;
font-size: 30px;
background-color: #f1f1f1;
}
#ho:hover{
  background-color: rgb(8, 183, 226);
}
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
#sio{
  margin-left: 700px;
  
}
</style>

</head>
<body background="images/boos.jpg">
    <a id="ho" href="/">Home</a>
    <!-- <div id="sio"> 
    <img  src="/images/boos.jpg" alt="" width="100" height="100">
    </div> -->
    <form class="sig" action="/login" onsubmit="return validation() && validate() && emailvalidation() && phonevalidation() && confirmpassword()">

        <h2 id="sign"> Sign up </h2>
        <br>
        <div>
        <label> First Name</label>
        <br> 
        <input id="firstname" type="text" placeholder="First Name" onchange="validation()" required> 
        <br>
        <label id="firstlab" for="indication"></label>
        </div>

        <div>
          <label> Last Name </label>
          <br>
          <input id="lastname" type="text" placeholder="Last Name" onchange="validate()" required>
          <br>
          <label id="lastlab" for="indicator"></label>
        </div>
        <div>
            <label> Phone Number</label>
            <br>
            <input id="phon" type="text" placeholder="Phone Number" onchange="phonevalidation()" required>
            <br>
            <label id="phone" for="indicator"></label>
        </div>
        <div>
            <label> Email </label>
            <br>
            <input id="emailid" type="text" placeholder="Email" onchange="emailvalidation()" required>
            <br>
            <label id="emailin" for="indicator"></label>

        </div>
    <div>
        <label for="psw">Password</label>
        <br>
        <input type="password"  placeholder="Enter your password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    
    </div> 
    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
      </div>
      <br>
    <div>
        <label> Confirm Password </label>
        <br>
        <input id="confirm" type="password" placeholder="Confirm Password" onchange="confirmpassword()" required>
        <br>
        <label id="confpi" for="indicator"></label>
    </div>
    <br>
    <input class="sub" type="submit" value="Submit">
    <br>
    <br>
    <div>
        <h5 id="ac"> Already have an account ?</h5>
        <a id="in" href="/login" >Log In</a>
        
    </div>
    </form>

<script>
let first = document.getElementById("firstname");
let firstl = document.getElementById("firstlab");
function validation(){
    let regexp = /^([A-Za-z]+)$/;
    if(regexp.test(first.value)){
    firstl.innerHTML = "first name valid";
    firstl.style.coler = "green";
    first.style.background = "green";
    return true;
}
else{
    firstl.innerHTML = "first name not valid";
    firstl.style.color = "red";
    first.style.background = "red";
    return false;
}
}
let last = document.getElementById("lastname");
 let lastl = document.getElementById("lastlab");
 function validate(){
    let exp = /^([A-Za-z]+)$/;

if(exp.test(last.value)){
    lastl.innerHTML = "Last name valid";
    lastl.style.coler = "green";
    last.style.background = "green";
    return true;
}
else{
    lastl.innerHTML = "Last name not valid";
    lastl.style.color = "red";
    last.style.background = "red";
    return false;
}
}
let ph = document.getElementById("phon");
 let pho = document.getElementById("phone");
 function phonevalidation(){
     let phonenexp = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/; 
     if(phonenexp.test(ph.value)){
        pho.innerHTML = "phone number is valid";
        pho.style.coler = "green";
        ph.style.background = "green";
        return true;
    }
    else{
        pho.innerHTML = "phone number not valid";
        pho.style.color = "red";
        ph.style.background = "red";
        return false;
    }
 }
 let emaili = document.getElementById("emailid");
 let emailinn = document.getElementById("emailin")
function emailvalidation(){
    let emaexp = /^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3}?)$/;
    if(emaexp.test(emaili.value)){
      emailinn.innerHTML = "email is valid";
      emailinn.style.color = "green";
      emaili.style.background = "green";
      return true;
    }
    else{
           emailinn.innerHTML = "email is not valid";
           emailinn.style.color = "red";
           emaili.style.background = "red";
           return false;
    }
}
var myInput = document.getElementById("psw");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
  
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
let co = document.getElementById("confirm");
   let coi = document.getElementById("confpi");
   function confirmpassword(){
     if(myInput.value == co.value){
       
       return true;
     }
     else{
       coi.innerHTML = "password mismatches";
       coi.style.color = "red";
       co.style.background = "red";
       return false;
     }
    }

</script>

      
</body>
</html>



